.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  /* your-component.css */
.custom-expanded {
    max-height: 200px; /* Adjust this value to your desired collapsed height */
    transition: max-height 0.2s ease-in-out; /* Add a smooth transition */
  }
  
  .custom-expanded.mat-expansion-panel-body {
    padding: 0; /* Optional: Remove padding when expanded */
  }
  