.image-info-container {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 8px;
  background-color: beige;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 24%);
  margin: 0 0 10px 0px;
  padding: 10px;
}

.image-container {
  flex: 1;
  padding: 10px;
  max-width: 50%;
}

img {
  height: 300px;
  width: 300px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.info-container {
  flex: 1;
  padding: 10px;
  max-width: 50%;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

/* Add more CSS styles as needed to customize the appearance */
